<!DOCTYPE html>
<html>
<head>
    <title>Travel Guidance Service</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>
<body>
 
  <div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="paper plane outline icon"></i> Travel Guidance Service</div>

       </form><!-- Here you should have a dropdown form,the name of the variable should be name as choice:Traveller,Tourist,Business-->
       <a href="/" class="item">Login</a>
        <a href="/register" class="item">Register</a>
        <a href="/information" class="item">Info</a> <!-- We must have an endpoint where the freeticket will take place.-->
    </div>
</div>