<%- include("partials/header") %>
<div id="offers">
<div class="ui container">
<div class="ui link cards">
    <div class="card">
      <div class="image">
        <img src="https://media.timeout.com/images/105489541/image.jpg">
      </div>
      <div class="content">
        <div class="header">Copenhagen</div>
        <div class="meta">
          <a>Denmark</a>
        </div>
        <div class="description">
        Copenhagen is the capital and most populous city of Denmark.        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          7 days
        </span>
        <span>
          <i class="tag icon"></i>
          $640
        </span>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://cdn.britannica.com/66/102266-050-FBDEFCA1/acropolis-city-state-Greece-Athens.jpg">
      </div>
      <div class="content">
        <div class="header">Athens</div>
        <div class="meta">
          <span class="date">Greece</span>
        </div>
        <div class="description">
         Athens is the capital and largest city of Greece. Athens dominates the Attica region and is one of the world's oldest cities.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          5 days
        </span>
        <span>
          <i class="tag icon"></i>
          $530
        </span>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://emaeducation2019.se/wp-content/uploads/2019/08/Malm%C3%B6.jpg">
      </div>
      <div class="content">
        <div class="header">Malmö</div>
        <div class="meta">
          <a>Sweden</a>
        </div>
        <div class="description">
        Malmö is the largest city of the Swedish county of Skåne County, the third-largest city in Sweden, after Stockholm and Gothenburg, and the sixth-largest city in Scandinavia.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          3 days
        </span>
        <span>
          <i class="tag icon"></i>
          $490
        </span>
      </div>
    </div>
    <div class="card">
        <div class="image">
          <img src="https://static.in2life.gr/media/pics/pics680/1160516-praga2018-680.jpg">
        </div>
        <div class="content">
          <div class="header">Prague</div>
          <div class="meta">
            <a>Czech Republic</a>
          </div>
          <div class="description">
            Prague is the capital and largest city in the Czech Republic, the 13th largest city in the European Union and the historical capital of Bohemia.
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            5 days
          </span>
          <span>
            <i class="tag icon"></i>
            $600 
          </span>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="https://s.inyourpocket.com/gallery/173090.jpg">
        </div>
        <div class="content">
          <div class="header">Krakow</div>
          <div class="meta">
            <a>Poland</a>
          </div>
          <div class="description">
            Kraków traditionally known in English as Cracow, is the second largest and one of the oldest cities in Poland. Situated on the Vistula River in Lesser Poland.</div>
        </div>
        <div class="extra content">
          <span class="right floated">
            6 days
          </span>
          <span>
            <i class="tag icon"></i>
            $450
          </span>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="https://www.discovergreece.com/sites/default/files/styles/hd/public/2019-12/4_beach_in_lindos-1.jpg">
        </div>
        <div class="content">
          <div class="header">Rhodes</div>
          <div class="meta">
            <a>Greece</a>
          </div>
          <div class="description">
            Rhodes is the largest of the Dodecanese islands of Greece and is also the island group's historical capital. Administratively the island forms a separate municipality within the Rhodes regional unit.
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            5 days
          </span>
          <span>
            <i class="tag icon"></i>
            $700
          </span>
        </div>
      </div>
  </div>
</div>
</div>
  
<%- include("partials/footer") %>
